body {
	background : url(../img/bg.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}

#container{
	width:100vh;
	height:100vh;
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

h1, h2 {
	color: #fff;
    text-shadow: 1px 1px 1px rgba(1,1,1,.5);
    font-family: 'Oswald', sans-serif;
}

h1 {
	font-size : 72px;
}

span {
	font-family: 'Oswald', sans-serif;
	font-size : 30px;
	color: white;
}

.navbar {
	box-shadow:none !important;
    background-color: transparent !important;
    border: none;
    color: #fff;
    float:right;
}

.navbar a {
    font-family: Montserrat,sans-serif !important;
    font-size: 14px;
    text-decoration: none;
    color : white !important;
}

.navbar-nav{
	float:right !important;
}

.navbar a:hover {
	opacity:0.8;
	transition-duration:0.2s;
}